.shuoming_zuo{
	width: 500px;
	background-color: #000;
}
.buchong{
	width: 180px;
	height: 70px;

	float: right;
}
.banner .aa11aa1 {
    font-family: "Arial";
    font-size: 62px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 248px;
}